PyGithub===1.53
requests==2.24.0
numba==0.56.4
numpy==1.23.5
scipy==1.9.3
beautifulsoup4
six
tqdm
jinja2>=3.0.3
nbformat>=5.2.0
packaging
traitlets>=5.1
websocket-client
ipython
entrypoints>=0.2.2
defusedxml
ipykernel

