PyGithub===1.53
requests==2.24.0

#numpy==1.23.5
#scipy==1.9.3
#numba==0.56.4

#-f https://download.pytorch.org/whl/cu113/torch_stable.html
#torch==1.12.1+cu113
#torchvision==0.13.1+cu113
#torchaudio==0.12.1

#pytorch3d==0.7.2

#beautifulsoup4
#six
#tqdm
#jinja2>=3.0.3
#nbformat>=5.2.0
#packaging
#traitlets>=5.1
#websocket-client
#ipython
#entrypoints>=0.2.2
#defusedxml
#ipykernel

